.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img {
    margin: 150px;


}

.hero h1 {
    text-align: center;
    width: 60%;
    font-size: 60px;
    font-weight: 500;


}

.hero h1 span {
    background: linear-gradient(270deg, #da7c25 0.36%, #B923e1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.hero p {
    width: 57%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 20px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #da7c25 -5.09%, #B923e1 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.hero-resume {
    padding: 20px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;

}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #B923e1;
}